<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head', { meta, schemas, assets, site, criticalCss }) %>
</head>
<body class="bg-bg text-white antialiased pb-20 lg:pb-0">
  <a href="#main-content" class="skip-link">Skip to main content</a>
  <%- include('../partials/header', { site, nav, icon }) %>
  <main id="main-content">
    <%- body %>
  </main>
  <%- include('../partials/footer', { site, nav, icon }) %>
  <%- include('../partials/mobile-sticky-cta', { site, icon }) %>
  <%- include('../partials/scripts', { assets }) %>
</body>
</html>
